form {
  display: grid;
  grid-template:
    'fields fields fields'
    '   .   actions   .  '
    / 1fr auto 1fr;
  grid-gap: 1em;
}
@media (max-width: 575px) {
  form {
    grid-template:
      'fields'
      'actions'
      / auto;
  }
}

form {
  .fields {
    display: grid;

    grid-template-columns: max-content auto;
    grid-gap: 1em;

    grid-area: fields;
  }
  @media (max-width: 575px) {
    .fields {
      grid-template-columns: auto;
      grid-gap: 0.5em;
    }
  }

  .actions {
    grid-area: actions;
  }
  @media (max-width: 575px) {
    .actions {
      display: grid;
      grid-template-columns: max-content;
      grid-template-rows: auto auto;
      grid-gap: 0.5em;
    }
  }
}
