$layout-item-margin: 4px;
@import '../src/layout';
@import '../src/detectRowWrap-grow';
@import '../src/showBorders';

.box {
  height: 100px;

  &::before {
    content: '\a0\a0Lorem ipsum\a0\a0';
  }

  &.blue { background: lightblue }
  &.yellow { background: lightyellow }
  &.grey { background: lightgrey }
  &.green { background: lightgreen }
}
