$layout-item-margin-y: 4px;
$layout-item-margin-x: 4px;

@import '../src/layout';
@import '../src/showBorders';

[offset] {
  min-width: 115px;
}

.has-error {
  input {
    border-color: red;
  }

  .help-block {
    color: red;
    font-size: small;
  }
}
