%layout {
  box-sizing: border-box;
  display: flex;

  // Always wrap layout items
  flex-wrap: wrap;
}

[layout=column] {
  @extend %layout;
  flex-direction: column;
}

[layout=row] {
  @extend %layout;
  flex-direction: row;

  // Vertically align labels with inputs
  align-items: flex-start;
}

[vspace] {
  margin-bottom: -$layout-item-margin;

  // Vertical space between form inputs when wrapped (flex-wrap: wrap)
  > * {
    margin-bottom: $layout-item-margin;
  }

  > [vspace] {
    margin-bottom: 0;
  }
}

[hspace] {
  // Trick: like removing the margin from the last form input on the wrapped line
  // See http://plnkr.co/edit/oElC5u?p=preview
  margin-left: -$layout-item-margin / 2;
  margin-right: -$layout-item-margin / 2;

  // Horizontal space between form inputs
  > * {
    margin-left: $layout-item-margin / 2;
    margin-right: $layout-item-margin / 2;
  }

  > [hspace] {
    margin-left: 0;
    margin-right: 0;
  }
}

// See flex-grow vs flex https://github.com/angular/material/issues/2632
[grow] {
  box-sizing: border-box;
  flex: auto;
}
