.showBorders {
  [data-layout],
  [layout] {
    margin: 10px;
    border: 3px solid black;
  }
  [data-layout][data-grow],
  [layout][grow] {
    border-style: dashed;
  }

  [data-layout] > :not([data-layout]),
  [layout] > :not([layout]) {
    margin: 10px;
    border: 1.5px solid black;
  }
  [data-layout] > :not([data-layout])[data-grow],
  [layout] > :not([layout])[grow] {
    border-style: dashed;
  }
}
