// Dotted line: growing block, solid line: fixed block
.show-borders {
  .wrap-children,
  .wrap-children > *,
  .flex-fill,
  .next-is-wrapped,
  .next-is-wrapped ~ * {
    margin: 2px;
    border-color: transparent;
    border-width: 2px;
  }

  .wrap-children,
  .wrap-children > * {
    border-color: black;
    border-style: solid;
  }

  .flex-fill {
    border-color: black;
    border-style: dashed;
  }

  .next-is-wrapped,
  .next-is-wrapped ~ * {
    border-color: blue;
    border-style: dashed;
  }
}
