%layout {
  box-sizing: border-box;
  display: flex;

  // Always wrap layout items
  flex-wrap: wrap;
}

[data-layout='column'],
[layout='column'] {
  @extend %layout;
  flex-direction: column;
}

[data-layout='row'],
[layout='row'] {
  @extend %layout;
  flex-direction: row;

  // Vertically align labels with inputs
  align-items: flex-start;
}

[data-vspace],
[vspace] {
  margin-bottom: -$layout-item-margin-y;

  // Vertical space between form inputs when wrapped (flex-wrap: wrap)
  > * {
    margin-bottom: $layout-item-margin-y;
  }

  > [data-vspace],
  > [vspace] {
    margin-bottom: 0;
  }
}

[data-hspace],
[hspace] {
  // Trick: like removing the margin from the last form input on the wrapped line
  // See http://plnkr.co/edit/oElC5u?p=preview
  margin-left: -$layout-item-margin-x;
  margin-right: -$layout-item-margin-x;

  // Horizontal space between form inputs
  > * {
    margin-left: $layout-item-margin-x;
    margin-right: $layout-item-margin-x;
  }

  > [data-hspace],
  > [hspace] {
    margin-left: 0;
    margin-right: 0;
  }
}

// See [flex-grow vs flex](https://github.com/angular/material/issues/2632)
[data-grow],
[grow] {
  box-sizing: border-box;
  flex: auto;
}
